*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background:white;
  color:black;
}
.currency_converter{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.currency_converter img{ 
 width: 30vw;
 height: 25vh;
}
.currency_container{
  width: 40vw;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
  gap:1rem;
}
.currency_dropdown{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.currency_container input{
  width: 10rem;
}
